@charset "UTF-8";

.tit-beneficios{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

.linha{
    border: 3px solid black;
    border-radius: 5px;
    width: 14%;
    margin-bottom: 100px;
}

.icones {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adiciona espaçamento entre os ícones */
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 5%;
}

.box-imagem img {
    margin-top: 10px;
}

.conteudo-box-icones{
    transition: transform 0.5s ease-in-out; 
    /*margin-bottom: 120px;*/
}

/* Teste de cores zebras do site */
div#cor-beneficio {
    background-color: black; /* Teste de cores zebras do site */
    height: 735px;
    margin-right: -6px;
    margin-left: -9px;
}

.conteudo-box-icones:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1); 
}

/* Teste de cores zebras do site */
.conteudo-box-icones h6{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: white;/* Teste de cores zebras do site */
    margin: 20px 0;
}

/* Teste de cores zebras do site */
.conteudo-box-icones p{
    font-size: 16px;
    line-height: 22px;
    color: white;/* Teste de cores zebras do site */
}