@charset "UTF-8";

/* Teste de cores zebras do site */
div#cor-beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; /* Teste de cores zebras do site */
    height: 770px;
}

.tit-beneficios{
    justify-content: center;
    text-align: center;
    margin-top: 0%;
}

.tit-beneficios h1 {
    text-align: center;
    margin-top: 0%;
    color: white;
}

.icones {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 5%;
}

.box-imagem img {
    margin-top: 10px;
}

.conteudo-box-icones{
    transition: transform 0.5s ease-in-out;
    width: 20%;
}



.conteudo-box-icones:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1); 
}

/* Teste de cores zebras do site */
.conteudo-box-icones h6{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    display: inline;
    color: white;
    margin: 20px 0;
}

/* Teste de cores zebras do site */
.conteudo-box-icones p{
    font-size: 16px;
    line-height: 22px;
    display: inline;
    color: white;
}