@charset "UTF-8";

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.quase_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 8% 0 8% 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 2.2em;
    margin: 8px 0px 8px 0px;
}

.instrucao {
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin: 0px 0px 30px 0px;
}

form#form-certificado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_form input {
    text-align: center;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
}

#form-certificado button {
    height: 40px;
    width: 120px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container_form button:hover {
    background-color: #0056b3;
}

#resultado > img {
    display: flex;
    width: 70%;
    margin: 0 auto;
}