@charset "UTF-8";

.menu {
    position: absolute;
    margin-left: 1500px;
    margin-top: 40px;
}

/* Posiciona as Li uma ao lado da outra */
.menu_li {
    display: inline-block;
    margin-left: 35px;
    transition: transform 0.5s ease-in-out;
}

.menu_li:hover {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

/* Tira a decoração do link */ 
.menu_li .menu_link {
    text-decoration: none;
    color: black;
}