@charset "UTF-8";

/*----INICIO HEADER DO SITE*/

/* Definindo a fonte do site */

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 100%;
    margin: 5px 5px 5px 5px;
}

/*img de fundo do header. Logo grande da Vision Tech*/
.apresentacao {
    background: url(/img/logo-vision.jpg) no-repeat 8% 70%;
    background-size: 50%;
}

/* Propoção da img da logo "Falcão da Vision" no canto esquerdo em cima */
.logo img {
    width: 60px;
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.logo img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

/* Posiciona UL na direita do site */
.menu {
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}



/* Posiciona as Li uma ao lado da outra */
.menu_li {
    display: inline-block;
    margin-left: 30px;
    transition: transform 0.5s ease-in-out;
}

.menu_li:hover {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

/* Tira a decoração do link */ 
.menu_li .menu_link {
    text-decoration: none;
    color: black;
}

/* Botão Sign In */
.btn_signIn {
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 10px 30px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    transition: background-color 1.0s, color 0.5s ease-in-out;
}

.btn_signIn:hover {
    background-color: rgb(206, 206, 206);
}

/* Botão Sign Up */
.btn_signUp {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: black;
    transition: background-color 1.0s, color 0.5s ease-in-out;
}

.btn_signUp:hover {
    background-color: red;
    color: black;
}

/* -----------Parte da Apresentação Box---------- */
/* Clear & box */
/* Limpa */
.clear {
    clear: both;
}

/* Linha entre a logo da Vision e o texto do cabeçalho */
div#linha_vertical{
    height: 400px;
    border-right: 3px solid black;
    position: absolute;
    top: 270px;
    left: 1140px;
}

.apresentacao_conteudo {
    display: inline-block;
    top: 200px;
    left: 1250px;
    margin-bottom: 200px;
    position: relative;
}

.tit-apresentacao {
    color: black;
    font-size: 34px;
    line-height: 50px;
}

.descricao-apresentacao {
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin: 30px 0 30px 0;
    font-weight: 500;
}

.btn_comecar {
    text-decoration: none;
    margin-top: 20px;
    background: black;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 1.0s, color 0.5s;
    /* Adicionando uma transição suave para a cor de fundo e a cor do texto */
}

.btn_comecar:hover {
    background-color: rgb(238, 238, 238);
    color: black;
}

/*---------------------------SOBRE----------------------------------*/


.box_ilustracao .background {
    opacity: 40%;
    width: 1895px;
    height: 1140px;
    z-index: -1;
    margin: 0px;
}

div#imagem img {
    width: 650px;
    top: 1868px;
    left: 300px;
    position: absolute;
    
}


/* Ajustando o estilo da caixa de texto */
.about_box {
    float: right;
    height: 650px;
    width: 30%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(-45deg, rgb(230, 230, 230), white);
    top: 1966px;
    left: 1100px;
    position: absolute;
}

.about_box h1 {
    font-family: 'Poppins' sans-serif;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 60px;
}

.about_box li {
    list-style: none;
    margin-bottom: 30px;
}

.about_box span {
    font-size: 26px;
    /* Reduzindo o tamanho da fonte para 32px */
    line-height: 36px;
    /* Reduzindo a altura da linha para 36px */
    font-weight: 700;
    margin-top: 25px;
    /* Aumentando a margem superior para 20px */
}

.verificado {
    width: 27px;
    height: 25px;
    margin: 0px;
}

/* Utilizando Media Querys no site */

@media (max-width: 700px) {
    main {
        width: 700px;
    }
    
    .apresentacao {
        background: url(/img/logo-vision.jpg) no-repeat;
        background-size: 50%;
        background-position-x: 20%;
        background-position-y: 30%;
    }
    
    .apresentacao_conteudo {
        top: 400px;
        left: 50px;
        margin-bottom: 200px;
        position: relative;
    }

    .tit-apresentacao {
        text-align: center;
        color: black;
        font-size: 26px;
        line-height: 36px;
    }

    .descricao-apresentacao {
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        color: black;
    }

    div#linha_vertical{
        height: 0px;
    }
    
    .btn_comecar {
        font-size: 20px;
       text-align: center;
       margin-top: 20px;
       margin-bottom: 100px;
       margin-left: 215px;
    }
    
    .menu {
        text-align: end;
        margin-top: 0px;
    }

    .menu_li {
        padding: 15px 35px 0px 0px;
        margin-left: 22px;
        margin-right: 0px;
    }

    .tit-beneficios {
        margin-top: 20px;
    }
}