@charset "UTF-8";

/* Definindo a fonte do site */
html,
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px;
    padding: 0px;
}

/*img de fundo do header. Logo grande da Vision Tech*/
.apresentacao {
    background: url(/img/logo-vision.jpg) no-repeat 8% 70%;
    background-size: 50%;
}

/* Propoção da img da logo "Falcão da Vision" no canto esquerdo em cima */
.logo img {
    width: 60px;
    margin-left: 15px;
    transition: transform 0.5s ease-in-out;
}

.logo img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.menu {
    display: flex;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 50px;
}

/* Posiciona as Li uma ao lado da outra */
.menu_li {
    display: inline-block;
    margin-left: 30px;
    transition: transform 0.5s ease-in-out;
}

.menu_li:hover {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

/* Tira a decoração do link */
.menu_li .menu_link {
    text-decoration: none;
    color: black;
}

/* Botão de logar */
.btn_signIn {
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 10px 30px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    transition: background-color 1.0s, color 0.5s ease-in-out;
}

.btn_signIn:hover {
    background-color: rgb(206, 206, 206);
}

/* Botão de sair da conta */
.btn_signUp {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: black;
    transition: background-color 1.0s, color 0.5s ease-in-out;
}

.btn_signUp:hover {
    background-color: red;
    color: black;
}

/* -----------Parte da Apresentação Box---------- */
.apresentacao_conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
}

.tit-apresentacao {
    text-align: center;
    color: black;
    font-size: 34px;
    line-height: 50px;
}

.descricao-apresentacao {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    color: black;
    margin: 30px 0 30px 0;
    font-weight: 500;
}

.btn_comecar {
    text-decoration: none;
    margin-top: 20px;
    background: black;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 1.0s, color 0.5s;
    /* Adicionando uma transição suave para a cor de fundo e a cor do texto */
}

.btn_comecar:hover {
    background-color: rgb(238, 238, 238);
    color: black;
}

/* Teste de cores zebras do site */
div#cor-beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; /* Teste de cores zebras do site */
}

.tit-beneficios {
    justify-content: center;
    text-align: center;
    margin-top: 0%;
}

.tit-beneficios h1 {
    text-align: center;
    margin-top: 0%;
    color: white;
}

.icones {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.box-imagem img {
    margin-top: 10px;
}

.conteudo-box-icones{
    transition: transform 0.5s ease-in-out;
    width: 20%;
}

.conteudo-box-icones:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1); 
}

.conteudo-box-icones h6{
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}

.conteudo-box-icones p{
    font-size: 16px;
    line-height: 22px;
    color: white;
}

/*---------------------------SOBRE----------------------------------*/

.background {
    background-image: url(../img/background.webp);
}

.about_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(-45deg, rgb(230, 230, 230), white);
}

.about_box h1 {
    font-family: 'Poppins' sans-serif;
    font-size: 40px;
    margin: 0px 0px 50px 0px;
    margin-bottom: 50px;
}

.about_box_ul {
    padding-left: 0px;
}

.about_box li {
    list-style: none;
    margin-bottom: 30px;
}

.about_box span {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 25px;
}

.verificado {
    width: 27px;
    height: 25px;
    margin: 0px;
}

.btn_saiba_mais {
    font-size: 25px;
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px 15px;
    margin-top: 50px;
    border-radius: 8px;
    transition: background-color 1.0s, color 0.5s;
}

.btn_saiba_mais:hover {
    background-color: rgb(204, 204, 204);
    color: black;
}

.site-footer {
    background-color: #f5f5f5;
    padding: 50px 0px 40px 0px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% 6%; 
}

.footer-section-about {
    width: 30%;
}

.about h3, .social h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

.links h3 {
    margin-left: 60px;
}

.about p {
    color: #666;
}

.links ul {
    list-style-type: none;
    padding: 0;
    margin-left: 60px;
}

.links ul li {
    margin-bottom: 15px;
}

.links a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #000;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: column;
    margin-right: 10px;
}

.social a {
    color: #666;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.social a:hover {
    color: #000;
}

.footer-bottom {
    font-size: 18px;
    margin-top: 7%;
    text-align: center;
    color: #666;
}