@charset "UTF-8";

/*----INICIO HEADER DO SITE*/

/* Definindo a fonte do site */

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

main {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
}

/*img de fundo do header. Logo grande da Vision Tech*/
.apresentacao {
    background: url(/img/logo-vision.jpg) no-repeat 8% 70%;
    background-size: 50%;
}

/* Propoção da img da logo "Falcão da Vision" no canto esquerdo em cima */
.logo img {
    width: 60px;
    margin-top: -30px;
    margin-left: 15px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.logo img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

/* Posiciona UL na direita do site */
.container_menu_mobile {
    display: none;
}

.menu {
    display: flex;
    margin-right: 20px;
    margin-top: 30px;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 50px;
}

/* Posiciona as Li uma ao lado da outra */
.menu_li {
    display: inline-block;
    margin-left: 30px;
    transition: transform 0.5s ease-in-out;
}

.menu_li:hover {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

/* Tira a decoração do link */
.menu_li .menu_link {
    text-decoration: none;
    color: black;
}

/* Botão Sign In */
.btn_signIn {
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 10px 30px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    transition: background-color 1.0s, color 0.5s ease-in-out;
}

.btn_signIn:hover {
    background-color: rgb(206, 206, 206);
}

/* Botão Sign Up */
.btn_signUp {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: black;
    transition: background-color 1.0s, color 0.5s ease-in-out;
}

.btn_signUp:hover {
    background-color: red;
    color: black;
}

/* -----------Parte da Apresentação Box---------- */
/* Clear & box */
/* Limpa */
.clear {
    clear: both;
}

.apresentacao_conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 10%;
}

.tit-apresentacao {
    text-align: center;
    color: black;
    font-size: 34px;
    line-height: 50px;
}

.descricao-apresentacao {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    color: black;
    margin: 30px 0 30px 0;
    font-weight: 500;
}

.btn_comecar {
    text-decoration: none;
    margin-top: 20px;
    background: black;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 1.0s, color 0.5s;
    /* Adicionando uma transição suave para a cor de fundo e a cor do texto */
}

.btn_comecar:hover {
    background-color: rgb(238, 238, 238);
    color: black;
}

/* Teste de cores zebras do site */
div#cor-beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; /* Teste de cores zebras do site */
    height: 770px;
}

.tit-beneficios{
    justify-content: center;
    text-align: center;
    margin-top: 0%;
}

.tit-beneficios h1 {
    text-align: center;
    margin-top: 0%;
    color: white;
}

.icones {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 5%;
}

.box-imagem img {
    margin-top: 10px;
}

.conteudo-box-icones{
    transition: transform 0.5s ease-in-out;
    width: 20%;
}

.conteudo-box-icones:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1); 
}

/* Teste de cores zebras do site */
.conteudo-box-icones h6{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    display: inline;
    color: white;
    margin: 20px 0;
}

/* Teste de cores zebras do site */
.conteudo-box-icones p{
    font-size: 16px;
    line-height: 22px;
    display: inline;
    color: white;
}

/*---------------------------SOBRE----------------------------------*/

.separar {
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
}

.separar #imagem {
    width: 27%;
}

/* Ajustando o estilo da caixa de texto */
.about_box {
    float: right;
    height: 75%;
    width: 30%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(-45deg, rgb(230, 230, 230), white);
}

.about_box h1 {
    font-family: 'Poppins' sans-serif;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.about_box_ul {
    padding-left: 0px;
}

.about_box li {
    list-style: none;
    margin-bottom: 30px;
}

.about_box span {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 25px;
}

.verificado {
    width: 27px;
    height: 25px;
    margin: 0px;
}

.btn_saiba_mais {
    font-size: 25px;
    text-decoration: none;
    float: right;
    background: black;
    color: white;
    padding: 5px 15px;
    margin-top: 55px;
    border-radius: 8px;
}

.site-footer {
    background-color: #f5f5f5;
    padding: 60px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section-about {
    width: 30%;
}

.about h3, .social h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

.links h3 {
    margin-left: 60px;
}

.about p {
    color: #666;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.links ul {
    list-style-type: none;
    padding: 0;
    margin-left: 60px;
}

.links ul li {
    margin-bottom: 15px;
}

.links a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #000;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: column;
    margin-right: 10px;
}

.social a {
    color: #666;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.social a:hover {
    color: #000;
}

.footer-bottom {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    color: #666;
}


/* Utilizando Media Queries no site */

/* Tablet */
@media (max-width: 768px) {
    body {
        margin: 0px;
    }

    main {
        margin: 0px;
    }

    .logo img {
        margin-top: 0px;
        margin-left: 10px;
    }

    /* Menu de PC desaparece */
    .menu {
        display: none;
    }

    /* Dropdown-content - Opções após clicar no menu */
    .menu_mobile {
        display: none;
        list-style: none;
        right: 100%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    /* Dropdown em si */
    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 0px;
    }

    /* O container que envolve todo o menu para movimentar */
    .container_menu_mobile {
        display: flex;
        justify-content: right;
        margin-top: 0px;
        margin-right: 2%;
    }

    /* A imagem que serve como botão no menu */
    .menu_button_mobile {
        font-size: 3em;
        background-color: transparent;
        border: none;
    }

    .menu_li_mobile {
        display: inline-block;
        background-color: rgb(230, 230, 230);
        margin-left: 22px;
    }

    .menu_li_mobile:hover {
        font-weight: bold;
    }

    /* As opções dentro do menu */
    .menu_link_mobile {
        font-size: 28px;
        text-decoration: none;
        color: black;
    }

    /* Fazer o menu aparecer ao clicar em cima */
    .dropdown:hover .menu_mobile {
        display: inline;
        min-width: 580px;
        top: 90%;
        right: 90%;
    }

    .dropdown:hover .logo {
        display: none;
    }

    /* Logo da Vision Tech */
    .apresentacao {
        background: url(/img/logo-vision.jpg) no-repeat 50% 25%;
        background-size: 60%;
    }

    /* Container dos textos 01 e 02 */
    .apresentacao_conteudo {
        display: grid;
        justify-content: center;
        margin-top: 50%;
        margin-right: 0px;
        margin-bottom: 0%;
    }

    /* Texto 01 da Vision */
    .tit-apresentacao {
        font-size: 25px;
        text-align: center;
        color: black;
        line-height: 36px;
    }

    /* Texto 02 da Vision */
    .descricao-apresentacao {
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        color: black;
    }

    div#linha_vertical {
        display: none;
    }

    .container_comecar {
        text-align: center;
        margin: 20px 0px 50px 0px;
    }

    .btn_comecar {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }

    .menu {
        text-align: end;
        margin-top: 0px;
    }

    /* Linha vertical que tem no desktop */
    div#linha_vertical {
        display: none;
    }

    .linha {
        display: none;
    }

    .btn_saiba_mais {
        font-size: 16px;
        text-decoration: none;
        float: right;
        background: black;
        color: white;
        padding: 5px 15px;
        margin-top: 10px;
        border-radius: 8px;
    }

    div#cor-beneficio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tit-beneficios{
        margin-top: 0;
    }

    .tit-beneficios h1 {
        margin-top: 0px;
    }

    .separar {
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .separar #imagem {
        width: 42%;
        margin-top: 65px;
        margin-left: 40px;
    }

    .about_box {
        height: 75%;
        width: 35%;
        padding: 15px 10px 15px 10px;
        margin-top: 30px;
        margin-right: 60px;
    }

    .about_box li {
        margin-bottom: 15px;
    }

    .about_box h1 {
        font-size: 17px;
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 10px;
        margin-bottom: 20px;
    }

    .about_box span {
        font-size: 13px;
        margin-top: 0px;
        line-height: 20px;
    }

    .about_box_ul {
        padding: 0px;
    }

    .verificado {
        width: 8%;
        height: 8%;
    }

    .box_ilustracao {
        margin: 0px;
    }
}


/* Celular */
@media (max-width: 320px) {
    .logo img {
        width: 30px;
    }

    .menu_button_mobile {
        font-size: 2em;
    }

    .dropdown:hover .menu_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        min-width: 180px;
        height: 200px;
        padding: 10px 15px 10px 0px;
    }

    .apresentacao {
        background: url(/img/logo-vision.jpg) no-repeat 50% 20%;
        background-size: 60%;
    }

    .apresentacao_conteudo {
        margin-top: 85%;
    }

    /* Texto 01 da Vision */
    .tit-apresentacao {
        font-size: 16px;
    }

    /* Texto 02 da Vision */
    .descricao-apresentacao {
        font-size: 14px;
    }

    div#cor-beneficio {
        height: 100%;
        margin: 0px;
    }

    .tit-beneficios {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .conteudo-box-icones{
        width: 60%;
    }

    .icones{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px;
    }

    img#imagem {
        display: none;
    }

    .separar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .about_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 90%;
        height: 90%;
        padding: 0px;
        margin: 0px;
        align-content: flex-start;
    }
    
    .about_box h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .about_box li {
        margin-bottom: 15px;
        padding: 10px;
    }
    
    .about_box span {
        font-size: 15px;
        margin-top: 20px;
    }
    
    .verificado {
        width: 20px;
        height: 20px;
    }
    
    .btn_saiba_mais {
        font-size: 20px;
        margin-top: 0px;
    }

    .site-footer {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .container {
        padding: 0 10px;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .footer-section-about {
        display:none;
    }
    
    .footer-section-about h3, p{
        display: none;
    }
    
    .social h3 {
        text-align: center;
        text-align: center;
    }
    
    .links h3 {
        text-align: center;
        margin: 0px;
    }
    
    .about p {
        color: #666;
    }
    
    .contact span {
        display: none;
    }

    .links ul {
        margin: 0px;
        padding: 0px;
    }
    
    .links ul li {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .social ul {
        text-align:center;
    }
    
    .social ul li {
        margin-right: 0px;
        text-align:center;
    }
    
    .footer-bottom {
        font-size: 14px;
        margin-top: 50px;
    }
}