@charset "UTF-8";

@media screen and (max-width: 679px) {

    /*CELULAR */
    .logo img {
        width: 35px;
    }

    .apresentacao {
        background-position: 50% 15%;
        background-size: 70%;
    }

    .tit-apresentacao {
        font-size: 25px;
        margin: 0px 20px 0px 20px;
    }

    .descricao-apresentacao {
        font-size: 18px;
        margin: 20px 30px 0px 30px;
    }

    .tit-beneficios {
        margin: 30px 60px 0px 60px;
    }

    .tit-beneficios>h1 {
        margin: 0px;
    }

    .icones {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 20px;
        margin: 30px 35px;
    }

    .conteudo-box-icones {
        flex: 1 1 40%;
        margin: 5px;
    }

    .separar {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        background-image: none;
        padding: 0px;
    }

    .about_box {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 80vw;
        margin: 0px;
    }

    .about_box_ul {
        margin: 40px 0px 0px 0px
    }

    .about_box span {
        font-size: 18px;
    }

}

@media screen and (min-width: 680px) and (max-width: 922px) {

    /* TABLET */
    .logo img {
        margin-top: 0px;
        margin-left: 10px;
    }

    /* Menu de PC desaparece */
    .menu {
        display: none;
    }

    /* Dropdown-content - Opções após clicar no menu */
    .menu_mobile {
        display: none;
        list-style: none;
        right: 100%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    /* Dropdown em si */
    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 0px;
    }

    /* O container que envolve todo o menu para movimentar */
    .container_menu_mobile {
        display: flex;
        justify-content: right;
        margin-top: 0px;
        margin-right: 2%;
    }

    /* A imagem que serve como botão no menu */
    .menu_button_mobile {
        font-size: 3em;
        background-color: transparent;
        border: none;
    }

    .menu_li_mobile {
        display: inline-block;
        background-color: rgb(230, 230, 230);
        margin-left: 22px;
    }

    .menu_li_mobile:hover {
        font-weight: bold;
    }

    /* As opções dentro do menu */
    .menu_link_mobile {
        font-size: 28px;
        text-decoration: none;
        color: black;
    }

    /* Fazer o menu aparecer ao clicar em cima */
    .dropdown:hover .menu_mobile {
        display: inline;
        min-width: 580px;
        top: 90%;
        right: 90%;
    }

    .dropdown:hover .logo {
        display: none;
    }

    /* Logo da Vision Tech */
    .apresentacao {
        background: url(/img/logo-vision.jpg) no-repeat 50% 25%;
        background-size: 60%;
    }

    /* Container dos textos 01 e 02 */
    .apresentacao_conteudo {
        display: grid;
        justify-content: center;
        margin-top: 50%;
        margin-right: 0px;
        margin-bottom: 0%;
    }

    /* Texto 01 da Vision */
    .tit-apresentacao {
        font-size: 25px;
        text-align: center;
        color: black;
        line-height: 36px;
    }

    /* Texto 02 da Vision */
    .descricao-apresentacao {
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        color: black;
    }

    div#linha_vertical {
        display: none;
    }

    .container_comecar {
        text-align: center;
        margin: 20px 0px 50px 0px;
    }

    .btn_comecar {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }

    .menu {
        text-align: end;
        margin-top: 0px;
    }

    /* Linha vertical que tem no desktop */
    div#linha_vertical {
        display: none;
    }

    .linha {
        display: none;
    }

    .btn_saiba_mais {
        font-size: 16px;
        text-decoration: none;
        float: right;
        background: black;
        color: white;
        padding: 5px 15px;
        margin-top: 10px;
        border-radius: 8px;
    }

    div#cor-beneficio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tit-beneficios {
        margin-top: 0;
    }

    .tit-beneficios h1 {
        margin-top: 0px;
    }

    .separar {
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .separar #imagem {
        width: 42%;
        margin-top: 65px;
        margin-left: 40px;
    }

    .about_box {
        height: 75%;
        width: 35%;
        padding: 15px 10px 15px 10px;
        margin-top: 30px;
        margin-right: 60px;
    }

    .about_box li {
        margin-bottom: 15px;
    }

    .about_box h1 {
        font-size: 17px;
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 10px;
        margin-bottom: 20px;
    }

    .about_box span {
        font-size: 13px;
        margin-top: 0px;
        line-height: 20px;
    }

    .about_box_ul {
        padding: 0px;
    }

    .verificado {
        width: 8%;
        height: 8%;
    }

    .box_ilustracao {
        margin: 0px;
    }
}

@media screen and (min-width: 922px) and (max-width: 1200px) {}