@charset "UTF-8";

@media screen and (max-width: 679px) {

    /*CELULAR */

    html,
    body {
        width: 100%;
    }

    .logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Tirando o menu de PC */
    .menu {
        display: none;
    }

    /* Configurações do menu mobile */
    span#hamburguer {
        font-size: 40px;
        cursor: pointer;
        margin: 8px 8px 0px 0px;
    }

    .nav_menu {
        display: none;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .li_menu {
        background-color: rgba(226, 226, 226, 0.959);
    }

    .li_menu:hover {
        background-color: rgb(255, 255, 255);
    }

    .li_menu>a {
        display: block;
        font-weight: bolder;
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        border-top: 2px solid black;
        padding: 8px;
    }

    .apresentacao {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-position: 50% 18%;
        background-size: 75%;

    }

    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 280px 0px 80px 0px;
    }

    .tit-apresentacao {
        font-size: 25px;
        margin: 0px 20px 0px 20px;
    }

    .descricao-apresentacao {
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin: 20px 30px 0px 30px;
    }

    .tit-beneficios {
        margin: 30px 60px 0px 60px;
    }

    .tit-beneficios>h1 {
        margin: 0px;
    }

    .btn_comecar {
        margin-top: 30px;
    }

    .icones {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 20px;
        margin: 30px 50px;
    }

    .conteudo-box-icones {
        flex: 1 1 40%;
        margin: 5px;
    }

    .separar {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        background-image: none;
        height: 100%;
        padding: 0px;
    }

    .about_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 8% 0% 8% 0%;
    }

    .about_box>h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 5%;
    }

    .about_box_ul {
        margin: 10px 0px 0px 0px
    }

    .about_box span {
        font-size: 18px;
    }

    .btn_saiba_mais {
        margin-top: 20px;
    }

    .links {
        display: none;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-section-about {
        width: 40%;
        padding: 0 5%;
        margin: 0;
    }

    .social {
        width: 20%;
        padding: 0 5%;
        margin: 0px;
    }
}

@media screen and (min-width: 680px) and (max-width: 922px) {

    /* TABLET */

    html,
    body {
        width: 100%;
    }

    .logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Menu de PC desaparece */
    .menu {
        display: none;
    }

    /* Configurações do menu mobile */
    span#hamburguer {
        font-size: 40px;
        cursor: pointer;
        margin: 8px 8px 0px 0px;
    }

    .nav_menu {
        display: none;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .li_menu {
        background-color: rgba(226, 226, 226, 0.959);
    }

    .li_menu:hover {
        background-color: rgb(255, 255, 255);
    }

    .li_menu>a {
        display: block;
        font-weight: bolder;
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        border-top: 2px solid black;
        padding: 8px;
    }

    /* Logo da Vision Tech */
    .apresentacao {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: url(/img/logo-vision.jpg) no-repeat 50% 20%;
        background-size: 80%;
    }

    /* Container dos textos 01 e 02 */
    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 56% 0px 5% 0px;
    }

    /* Texto 01 da Vision */
    .tit-apresentacao {
        font-size: 26px;
        text-align: center;
        color: black;
        line-height: 50px;
    }

    /* Texto 02 da Vision */
    .descricao-apresentacao {
        font-size: 20px;
        text-align: center;
        line-height: 26px;
        color: black;
    }

    .container_comecar {
        text-align: center;
        margin: 20px 0px 50px 0px;
    }

    .btn_comecar {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }

    .linha {
        display: none;
    }

    .btn_saiba_mais {
        font-size: 16px;
        text-decoration: none;
        float: right;
        background: black;
        color: white;
        padding: 5px 15px;
        margin-top: 10px;
        border-radius: 8px;
    }

    div#cor-beneficio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tit-beneficios {
        margin-top: 8%;
    }

    .tit-beneficios h1 {
        margin-top: 0px;
    }

    .icones {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 20px;
        margin: 30px 50px;
    }

    .conteudo-box-icones {
        flex: 1 1 40%;
        margin: 5px;
    }

    .separar {
        display: flex;
        justify-content: center;
        padding: 0;
        background-image: none;
    }

    .about_box {
        width: 80%;
        margin: 5% 0%;
    }

    .about_box li {
        margin-bottom: 30px;
    }

    .about_box h1 {
        font-size: 32px;
        display: flex;
        justify-content: center;
        margin: 30px 0px 30px 0px;
    }

    .about_box span {
        font-size: 19px;
        margin-top: 0px;
        line-height: 20px;
    }

    .about_box_ul {
        padding: 0px;
    }

    .verificado {
        width: 5%;
        height: 5%;
    }

    .btn_saiba_mais {
        font-size: 26px;
        text-decoration: none;
        background: black;
        color: white;
        padding: 5px 15px;
        margin-top: 40px;
        border-radius: 8px;
    }

    .footer-content {
        margin: 0% 4%;
    }
}


@media screen and (min-width: 923px) and (max-width: 1200px) {

    /* Notebook */

    .topo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-marca {
        width: 55px;
    }

    .nav_menu,
    span#hamburguer {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-left: 0px;
        margin: 20px 40px 0px 0px;
    }

    .menu_li {
        font-size: 18px;
        margin-left: 30px;
        transition: transform 0.5s ease-in-out;
    }

    .menu_li:hover {
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .btn_signIn {
        margin-right: 20px;
    }

    .btn_signUp {
        display: flex;
        margin: 20px 16px 0px 0px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        background: url(/img/logo-vision.jpg) no-repeat 6% 50%;
        background-size: 40%;
    }

    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin: 10% 2% 5% 0%;
    }

    .tit-apresentacao {
        font-size: 19px;
        text-align: center;
        color: black;
        line-height: 28px;
    }

    /* Texto 02 da Vision */
    .descricao-apresentacao {
        font-size: 17px;
        text-align: center;
        line-height: 22px;
        color: black;
    }

    div#cor-beneficio {
        margin-top: 6%;
    }

    .tit-beneficios {
        margin: 8% 0% 6% 0%;
    }

    .icones {
        align-items: stretch;
        margin: 0% 6% 8% 6%;
    }

    .conteudo-box-icones p {
        text-align: center;
    }

    .conteudo-box-icones h6 {
        text-align: center;
    }

    .box-image {
        text-align: center;
    }

    .separar {
        display: flex;
        justify-content: flex-end;
        background-image: url(../img/mulher.png);
        background-repeat: no-repeat;
        background-position: 4% 100%;
        background-size: 45%;
        padding-top: 10%;
    }

    .about_box {
        width: 40%;
        margin: 0% 6% 6% 0%;
    }

    .about_box h1 {
        margin-bottom: 20px;
    }

    .footer-content {
        margin: 0% 6%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .topo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-marca {
        width: 60px;
    }

    .nav_menu,
    span#hamburguer {
        display: none;
    }

    .menu {
        margin-right: 40px;
    }

    .menu_li {
        font-size: 20px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        background: url(/img/logo-vision.jpg) no-repeat 6% 50%;
        background-size: 45%;
    }

    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin: 10% 4% 5% 0%;
    }

    .tit-apresentacao {
        font-size: 24px;
        text-align: center;
        color: black;
        line-height: 32px;
    }

    .descricao-apresentacao {
        font-size: 20px;
        text-align: center;
        line-height: 26px;
        color: black;
    }

    div#cor-beneficio {
        margin-top: 6%;
    }

    .tit-beneficios {
        font-size: 24px;
        margin: 8% 0% 6% 0%;
    }

    .icones {
        display: flex;
        align-items: stretch;
        margin: 0% 6% 8% 6%;
    }

    .conteudo-box-icones p {
        font-size: 22px;
        text-align: center;
    }

    .conteudo-box-icones h6 {
        font-size: 32px;
        text-align: center;
    }

    .box-image {
        text-align: center;
    }

    .separar {
        display: flex;
        justify-content: flex-end;
        background-image: url(../img/mulher.png);
        background-repeat: no-repeat;
        background-position: 5% 100%;
        background-size: 40%;
    }

    .about_box {
        width: 45%;
        margin: 6% 3% 6% 0%;
    }

    .footer-content {
        margin: 0% 6%;
    }
}

@media screen and (min-width: 1401px) and (max-width: 2000px) {

    .topo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-marca {
        width: 60px;
    }

    .nav_menu,
    span#hamburguer {
        display: none;
    }

    .menu {
        margin-right: 40px;
    }

    .menu_li {
        font-size: 20px;
        margin-left: 40px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        background: url(/img/logo-vision.jpg) no-repeat 8% 56%;
        background-size: 48%;
    }

    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin: 6% 8% 5% 0%;
    }

    .tit-apresentacao {
        font-size: 28px;
        text-align: center;
        color: black;
        line-height: 40px;
    }

    .descricao-apresentacao {
        font-size: 22px;
        text-align: center;
        line-height: 28px;
        color: black;
    }

    div#cor-beneficio {
        margin-top: 6%;
    }

    .tit-beneficios {
        font-size: 24px;
        margin: 8% 0% 6% 0%;
    }

    .icones {
        display: flex;
        align-items: stretch;
        margin: 0% 6% 10% 6%;
    }

    .conteudo-box-icones p {
        font-size: 20px;
        text-align: center;
    }

    .conteudo-box-icones h6 {
        font-size: 30px;
        text-align: center;
    }

    .box-image {
        text-align: center;
    }

    .separar {
        display: flex;
        justify-content: flex-end;
        background-image: url(../img/mulher.png);
        background-repeat: no-repeat;
        background-position: 15% 100.9%;
        background-size: 530px;
    }

    .about_box {
        width: 38%;
        margin: 6% 10% 6% 0%;
    }

    .footer-content {
        margin: 0% 6%;
    }

    .footer-section-about h3 {
        font-size: 24px;
    }

    .footer-section-about p {
        font-size: 18px;
    }

    .footer-section h3 {
        font-size: 24px;
    }

    .footer-section li {
        font-size: 18px;
    }
}

@media screen and (min-width: 2001px) and (max-width: 2400px) {

    .topo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-marca {
        width: 70px;
    }

    .nav_menu,
    span#hamburguer {
        display: none;
    }

    .menu {
        margin-right: 40px;
    }

    .menu_li {
        font-size: 21px;
        margin-left: 40px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        background: url(/img/logo-vision.jpg) no-repeat 8% 56%;
        background-size: 48%;
    }

    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin: 8% 10% 5% 0%;
    }

    .tit-apresentacao {
        font-size: 30px;
        text-align: center;
        color: black;
        line-height: 40px;
    }

    .descricao-apresentacao {
        font-size: 24px;
        text-align: center;
        line-height: 28px;
        color: black;
    }

    div#cor-beneficio {
        margin-top: 6%;
    }

    .tit-beneficios {
        font-size: 24px;
        margin: 8% 0% 6% 0%;
    }

    .icones {
        display: flex;
        align-items: stretch;
        margin: 0% 6% 8% 6%;
    }

    .conteudo-box-icones p {
        font-size: 22px;
        text-align: center;
    }

    .conteudo-box-icones h6 {
        font-size: 32px;
        text-align: center;
    }

    .box-image {
        text-align: center;
    }

    .separar {
        display: flex;
        justify-content: flex-end;
        background-image: url(../img/mulher.png);
        background-repeat: no-repeat;
        background-position: 15% 100%;
        background-size: 550px;
    }

    .about_box {
        width: 35%;
        margin: 6% 10% 6% 0%;
    }

    .footer-content {
        margin: 0% 6%;
    }

    .footer-section-about h3 {
        font-size: 28px;
    }

    .footer-section-about p {
        font-size: 20px;
    }

    .footer-section h3 {
        font-size: 28px;
    }

    .footer-section li {
        font-size: 20px;
    }
}

@media screen and (min-width: 2401px) {

    .topo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-marca {
        width: 80px;
    }

    .nav_menu,
    span#hamburguer {
        display: none;
    }

    .menu {
        margin-right: 50px;
    }

    .menu_li {
        font-size: 21px;
        margin-left: 60px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        background: url(/img/logo-vision.jpg) no-repeat 8% 56%;
        background-size: 1160px;
    }

    .apresentacao_conteudo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin: 5% 10% 5% 0%;
    }

    .tit-apresentacao {
        font-size: 34px;
        text-align: center;
        color: black;
        line-height: 48px;
    }

    .descricao-apresentacao {
        font-size: 28px;
        text-align: center;
        line-height: 36px;
        color: black;
    }

    div#cor-beneficio {
        margin-top: 6%;
    }

    .tit-beneficios {
        font-size: 28px;
        margin: 8% 0% 8% 0%;
    }

    .icones {
        display: flex;
        align-items: stretch;
        margin: 0% 6% 10% 6%;
    }

    .conteudo-box-icones p {
        font-size: 22px;
        text-align: center;
    }

    .conteudo-box-icones h6 {
        font-size: 32px;
        text-align: center;
    }

    .box-image {
        text-align: center;
    }

    .separar {
        display: flex;
        justify-content: flex-end;
        background-image: url(../img/mulher.png);
        background-repeat: no-repeat;
        background-position: 20% 100%;
        background-size: 550px;
    }

    .about_box {
        width: 35%;
        margin: 6% 15% 6% 0%;
    }

    .footer-content {
        margin: 0% 6%;
    }

    .footer-section-about h3 {
        font-size: 28px;
    }

    .footer-section-about p {
        font-size: 20px;
    }

    .footer-section h3 {
        font-size: 28px;
    }

    .footer-section li {
        font-size: 20px;
    }
}