@charset "UTF-8";

/* Cabeçalho */
header {
  height: 180px;
}


/* Sobre nós */
section#sobre_nos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 100px;
  background-color: black;
}

section#sobre_nos h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 100px;
}

section#sobre_nos p {
  height: 300px;
  font-size: 24px;
  text-align: center;
  color: white;
}


/* Seção dos itens */
section#cultura_organizacional {
  text-align: center;
  font-size: 56px;
  margin-bottom: 50px;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

section#missao,
section#visao,
section#valores {
  margin-bottom: 100px;
}

.titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 40px;
  color: black;
}

.texto {
  font-size: 24px;
}

.alinhar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  width: auto;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}


/* Sessão dos clientes */
section#clientes {
  height: 500px;
  margin-top: 100px;
  background-color: black;
}

section#clientes h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 55px;
  padding-bottom: 10px;
  color: white;
  border-bottom: 2px dashed white;
}

section#feedback {
  height: 500px;
  margin-top: 100px;
}

section#feedback h1 {
  text-align: center;
  font-size: 40px; 
}