@charset "UTF-8";

html,
body {
  overflow-x: hidden;
}

header {
  height: 200px;
}

section#sobre_nos>h1,
section#cultura_organizacional>h4,
section#clientes>h1,
.testimonials>h1 {
  text-align: center;
  font-size: 56px;
  margin: 70px 0px 50px 0px;
}

/* Sobre nós */
section#sobre_nos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 0px;
  background-color: black;
}

section#sobre_nos h1 {
  color: white;
}

section#sobre_nos p {
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 50px 350px 150px 350px;
}

section#cultura_organizacional {
  margin-bottom: 70px;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin: 0px 200px 0px 200px;
}

section#missao,
section#visao,
section#valores {
  margin-bottom: 100px;
}

.titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 40px;
  color: black;
}

.texto {
  font-size: 24px;
}

.alinhar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icon {
  width: 190px;
  margin-right: 20px;
  transition: 0.5s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

img#visao {
  height: 190px;
  width: 160px;
  margin-right: 20px;
}

/* Sessão dos clientes */
section#clientes {
  height: 600px;
  background-color: black;
  padding-top: 15px;
}

section#clientes h1 {
  color: white;
  margin-bottom: 130px;
}

.testimonials {
  height: 600px;
  text-align: center;
  background: #ffffff;
  margin-bottom: 100px;
}

.testimonials>h1 {
  margin-bottom: 100px;
}

.slider {
  position: relative;
  max-width: 700px;
  margin: 30px auto;
  overflow: hidden;
}

.slide {
  display: none;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fade 20s infinite;
}

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

.slide.active {
  display: block;
  opacity: 1;
  z-index: 1;
}

.slide p {
  font-size: 2em;
  font-style: italic;
}

.slide h4 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.controls {
  display: none;
  margin-top: 15px;
}

.controls span {
  cursor: pointer;
  font-size: 2em;
  padding: 0 15px;
  user-select: none;
  color: #333;
}

.indicators {
  margin-top: 10px;
}

.indicators span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.indicators .active {
  background: #333;
}

.slide.word {
  background-image: linear-gradient(45deg, #3A75B9, #ade8ff);
}

.slide.excel {
  background-image: linear-gradient(45deg, #26AB6C, #ade8ff);
}

.slide.word_excel {
  background-image: linear-gradient(-45deg, #3177c7, #24c479);
}