@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

div#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.main-content h1 {
    font-size: 3em;
    margin: 50px 0px 50px 0px;
}

.redirecionar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}

.botao_curso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    /*text-decoration: none;*/
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    background: black;
    border-radius: 20px;
    transition: ease-in-out 0.6s;
}

.botao_curso:hover {
    color: black;
    background: white;
    border: 1px solid black;
}